{erl_opts, [debug_info, warn_unused_import, warnings_as_errors, warn_missing_spec]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_missing_spec]},
        {deps, [
            {proper, "1.5.0"},
            {jesse, "1.8.1"},
            {eqwalizer_support,
                {git_subdir, "https://github.com/whatsapp/eqwalizer.git", {branch, "main"},
                    "eqwalizer_support"}}
        ]}
    ]}
]}.

{hank, [
    {ignore,
        %% Ignore test files.
        ["test/*.erl"]}
]}.

{project_plugins, [erlfmt, rebar3_hank, rebar3_lint, rebar3_ex_doc, rebar3_check_app_calls]}.
{erlfmt, [write]}.
{plugins, [rebar3_proper]}.

%% PropEr configuration
{proper_opts, [
    {numtests, 100},
    {max_size, 5}
]}.

{dialyzer, [{plt_apps, all_deps}, {warnings, [unknown]}]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{cover_export_enabled, true}.

%{eunit_opts, [verbose]}.
{hex, [{doc, ex_doc}]}.
{ex_doc, [
    {extras, ["README.md"]},
    {main, "README.md"},
    {source_url, "https://github.com/andreashasse/spectra"}
]}.
